
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 90px; /* Height of the footer */
    background: rgb(24,48,48);
    background: linear-gradient(0deg, rgba(24,48,48,1) 0%, rgba(245,245,220,0.48503151260504207) 71%);

    margin: 0;
}
.footertext {
    text-align: right;
    font-family: 'Russo One' ,Roboto, cursive;
    word-wrap: break-word;
    margin-right: 10px;
}
.body {
    padding-bottom: 60px;
    height: 100%;
}
